---
# Primary CSS
---

// imports
@import "colors";
@import "fonts";
@import "text";

@import "header";
@import "team";

// page structure
* {
    margin: 0;
    padding: 0;
}

.body {
    background-color: $background-color;
}

.reading-width {
    max-width: 576px;
}

// primary elements
h1, h2, h3, p {
    margin-top: 1em;
    color: $body-text-color;
}

h1, h2, h3 {
    font-family: $header-font;
    font-weight: $font-weight-bold;
}

h1 {
    font-size: 2.5em;
}

h2 {
    font-size: 1.5em;
}

p {
    font-size: 1em;
    font-family: $body-font;
}

a {
    font-family: $body-font;
    text-decoration: none;
    color: $link-color;
}

a:hover {
    color: $link-hover-color;
    transition: 0.1s linear;
}

// homepage
.home-background-graphic {
    z-index: -100;
    top: 0;
    right: 0;
    position: fixed;
    width: 90%;
    opacity: 0.08;
}

.no-gutters {
margin-right:0;
margin-left:0;
> .col,
> [class*="col-"] {
padding-right:0;
padding-left:0;
}
}

@media (max-width: 576px) {
    .home-background-graphic {
        width: 150%;
    }
}