---
# Primary CSS
---

@import "structure";
@import "colors";
@import "fonts";

@import "header";
@import "navigation";
@import "footer";
@import "pages";

* {
    margin: 0;
    padding: 0;
}

.body {
    background-color: $background-color;
}

.main {
    max-width: $body-max-width;
    margin: 2em auto 2em auto;
}

h1, h2, h3 {
    font-family: $header-font;
    color: $body-text-color;
}

p {
    font-size: 1em;
    font-family: $body-font;
    color: $body-text-color;
}

a {
    font-family: $body-font;
    text-decoration: none;
    color: $link-color;
}

a:hover {
    color: $link-hover-color;
    transition: 0.1s linear;
}