---
layout: default
title: Team
permalink: /team/
---

<div class="container">
    <h1>Team</h1>
</div>
{% include Evan.html %}
<div class="container">
    <p>Evan has years of experience designing ground breaking technologies, from Hyperloops, Vertical Axis Wind Turbines, and 3D printed General Electric switchgears. He graduated from UW-Madison with a degree in Mechanical Engineering and has been working on Zero Barrier ever since. </p>
</div>
{% include Blake.html %}
<div class="container">
    <p>Blake spent over four years overseeing engineering projects with Corning. Since then he has worked with private equity and as a business strategist. He has a MBA in Operations and Technology Management from UW-Madison. </p>
</div>
{% include Dennis.html %}
<div class="container">
    <p>Dennis is a serial entrepreneur. Over the last three decades Dennis has started several high tech startups and turn around several more. He has a masters of Nuclear Engineering from the University of Wisconsin and participated in the MBA program at the University of Minnesota. </p>
</div>
{% include Jon.html %}
<div class="container">
    <p>Jon is the co-founder of Sound Devices, a 17 year old Wisconsin-based speciality electronics company. The companys portable audio and video recorders are the worldwide standard for production sound mixers and video professionals. </p>
</div>
{% include Randy.html %}
<div class="container">
    <p>Randy is the President and CEO of Columbus Chemical Industries. For 11 years, Randy served as the President and CEO of Universal Acoustics and Emission Technologies. Randy has an MBA and a B.S. in Mechanical Engineering from the University of Wisconsin Madison. </p>
</div>
