// background
$background-color: #ffffff;

// header
$header-background-color: #1D1F21;

// body
$body-text-color: #1D1F21;
$faded-text-color: rgba(0, 0, 0, 0.25);

// theme
$theme-primary-color: #7B82DB;

// links
$link-color: #007AFF;
$link-hover-color: #3294FF;

// navigation
$nav-link-color: #ffffff;
$nav-link-hover-color: #7B82DB;

// misc
$separator-color: rgba(0, 0, 0, 0.05);