// background
$background-color: #ffffff;

// header
$header-background-color: #2d3436;

// body
$body-text-color: #1D1F21;
$faded-text-color: rgba(0, 0, 0, 0.25);

// theme
$theme-logo-color: #431f89;
$theme-primary-color: #6c5ce7;
$theme-secondary-color: #7f00ff;

// links
$link-color: #007AFF;
$link-hover-color: #3294FF;

// navigation
$nav-link-color: #ffffff;
$nav-link-hover-color: #e2e2e2;

// misc
$separator-color: rgba(0, 0, 0, 0.05);