// background and body
$background-color: #1D1F21;
$body-text-color: #ffffff;
$faded-text-color: rgba(0, 0, 0, 0.25);

// links
$link-color: #007AFF;
$link-hover-color: #3294FF;

// navigation
$nav-link-color: #ffffff;
$nav-link-hover-color: #7B82DB;

// misc
$separator-color: rgba(0, 0, 0, 0.05);