@import url('https://fonts.googleapis.com/css?family=Roboto:400,900');

// primary fonts
$header-font: 'Roboto', sans-serif;
$body-font: 'Roboto', sans-serif;

// weights
$font-weight-bold: 900;
$font-weight-normal: 400;