.header-outer-wrapper {
    height: 8.5em;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid $theme-primary-color;
    background-color: $header-background-color;
}

.header-inner-wrapper {
    width: 100%;
    max-width: $body-max-width;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.site-logo {
    width: 6.5em;

    img { display: block; }
}

