.header-outer-wrapper {
    height: 8.5em;
    display: flex;
    align-items: center;
    background-color: $header-background-color;
}

.header-inner-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.site-logo {
    max-width: 9em;
    img { width: 100%; }
}

.navigation {
    font-size: 1.25em;
    display: flex;
    
    a {
        padding: 0 0 0 1.15em;
        color: $nav-link-color;
        font-weight: $font-weight-bold;
        text-decoration: none;
    }

    a:hover {
        color: $nav-link-hover-color;
    }
}

.header-border-bottom {
    display: block;
    height: 8px;
    background-color: $theme-primary-color;
}

@media (max-width: 576px) {
    .header-outer-wrapper {
        display: block;
        height: auto;
    }
    .header-inner-wrapper {
        display: block;
        padding-top: 1em;
        padding-bottom: 1em;
    }
    .site-logo {
        margin: 0 auto 0 auto;
    }
    .navigation {
        justify-content: space-around;
        a { padding: 0; }
    }
 }
