.navigation {
    font-size: 1.25em;
    display: flex;
    
    a {
        padding: 0 0 0 1.15em;
        color: $nav-link-color;
        font-weight: $font-weight-bold;
    }

    a:hover {
        color: $nav-link-hover-color;
    }
}