.bold-tagline {
    font-size: 3em;
    font-weight: $font-weight-bold;
    line-height: 100%;

    span { color: $theme-primary-color; }
}

.body-text {
    max-width: 576px;
}

.faded-text {
    color: $faded-text-color;
}